<section class="text-center space-y-4">
  <h1 class="text-6xl font-black">
    <%= gettext "Welcome, %{name}", name: "Aron" %>
  </h1>
  <p class="dark:text-white font-mono text-xl">Peace of mind from prototype to production</p>
</section>

