<section class="text-center space-y-4">
  <h1 class="text-6xl font-black">
    <%= gettext "Welcome, %{name}", name: "Aron" %>
  </h1>
  <p class="dark:text-white font-mono text-xl">Peace of mind from prototype to production</p>
  <button role="navigation" class="btn rounded shadow-sm border-2 border-yellow-400/20 px-3 py-1 text-base font-medium bg-yellow-400 hover:bg-yellow-300">
    <%= link "App", to: Routes.webapp_path(@conn, :index) %>
  </button>
</section>

